---
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.12.1  # Replace with latest tag
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [pre-push]
